:root {
	--cyan: #64ffda;
	--light-grey: #424549;
	--lighter-blue: #57bfff;
	--blue: #1da1f2;
	--project-color: #102230;
	--background-color: #081118;
	--header-color: #152027;
}

html { 
	scroll-behavior: smooth; 
}

body { 
	margin: 0;
	background-color: var(--background-color);
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: #18181d; }
::-webkit-scrollbar-thumb { background: #3f3f4d; }
::-webkit-scrollbar-thumb:hover { background: #7298da; }

/** Tailwind like Global CSS */

p {
	margin: 0;
}

a, .color-cyan {
	color: var(--cyan);
}

.display-block {
	animation: fadeIn 1s forwards;
}

/** Animation CSS */

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/** Combined CSS */

.event h3 {
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

/** Responsive Global CSS */

@media (min-width: 900px) {
	body { padding: 0 90px; }
}